*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    text-align: center;
    color: rgb(43, 255, 0);
    margin-top: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    margin-top: 24px;
    color: green;
    margin-left: 16px;
}